footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background-color: #7B121B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    box-sizing: border-box;
}
footer ul{
    display: flex;
    gap: 1vw;
    align-items: center;
}
footer li{
    display: flex;
    align-items: center;
}
footer p{
    color: white;
}
footer a{
    color: white;
}
footer img{
    width: 1.5vw;
    vertical-align: middle; 
}

@keyframes slideDown {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100vh); 
    }
  }
  @keyframes slideDown1 {
    from {
      transform: translateY(-100vh);
    }
    to {
      transform: translateY(0); 
    }
  }
  
  .moving-div {
    animation: slideDown 1s ease-out forwards;
  }
  .moving-div1 {
    animation: slideDown1 1s ease-out forwards;
  }
  @keyframes slideRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100vW); 
    }
  }
  @keyframes slideRight1 {
    from {
      transform: translateX(-100vW);
    }
    to {
      transform: translateX(0); 
    }
  }
  
  .moving-div2 {
    animation: slideRight 1s ease-out forwards;
  }
  .moving-div3 {
    animation: slideRight1 1s ease-out forwards;
  }