body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#page1{
    background-color: #7B121B;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}
.transition-out{
    animation: slideUp 3s ease-in-out forwards;
}
@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

#fleur {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.fleur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
    opacity: 0;
}

.active {
    opacity: 1;
}

#txt1 {
    font-size: 8.2vw;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    animation: defilement2 20s linear, defilement 40s linear 20s infinite;
    color: white;
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    top: 0;
}

#txt2 {
    right: -10000px;
    font-size: 8.2vw;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    animation: defilement 40s linear infinite;
    animation-delay: 0s;
    color: white;
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    top: 0;
}

#txt3 {
    font-size: 8.2vw;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    animation: defilement3 20s linear, defilement1 40s linear 20s infinite;
    color: white;
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    top: 20vh;
}

#txt4 {
    right: -10000px;
    font-size: 8.2vw;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    animation: defilement1 40s linear infinite;
    animation-delay: 0s;
    color: white;
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    top: 20vh;
}

#txt5 {
    font-size: 8.2vw;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    animation: defilement2 20s linear, defilement 40s linear 20s infinite;
    color: white;
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    top: 40vh;
}

#txt6 {
    right: -10000px;
    font-size: 8.2vw;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    animation: defilement 40s linear infinite;
    animation-delay: 0s;
    color: white;
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    top: 40vh;
}

#txt7 {
    font-size: 8.2vw;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    animation: defilement3 20s linear, defilement1 40s linear 20s infinite;
    color: white;
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    top: 60vh;
}

#txt8 {
    right: -10000px;
    font-size: 8.2vw;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    animation: defilement1 40s linear infinite;
    animation-delay: 0s;
    color: white;
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    top: 60vh;
}

#txt9 {
    font-size: 8.2vw;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    animation: defilement2 20s linear, defilement 40s linear 20s infinite;
    color: white;
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    top: 80vh;
}

#txt10 {
    right: -10000px;
    font-size: 8.2vw;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    animation: defilement 40s linear infinite;
    animation-delay: 0s;
    color: white;
    font-family: "rafaella", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    top: 80vh;
}

@keyframes defilement {
    0% {
        left: -95%;
    }

    100% {
        left: 100%;
    }
}

@keyframes defilement2 {
    0% {
        left: 100px;
    }

    100% {
        left: 100%;
    }
}

@keyframes defilement1 {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

@keyframes defilement3 {
    0% {
        left: 0px;
    }

    100% {
        left: -100%;
    }
}